.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.img {
    margin-bottom: 30px;
}

.text {
    color: var(--text-color);
    text-align: center;
    font-size: 31px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 60px;
}